---
layout: basic.hbs
---

<section class="app">
  <h2>{{ title }}</h2>
  <p>{{ description }}</p>
  <div class="screenshots">
    {{#each screenshots}}
    <a href="{{ this.full }}"><img class="thumb" src="{{ this.thumb }}"/></a>
    {{/each}}
  </div>
  <h3>Features</h3>
  {{#each features}}
  <div class="feature">
    <h4>{{ this.title }}</h4>
    <p>{{ this.details }}</p>
  </div>
  {{/each}}
</section>
