---
site: irradiated.net
copyright: © Irradiated Apps
---

<!DOCTYPE html>
<html>
  <head>
    <title>{{ site }}{{#if title}} - {{ title }}{{/if}}</title>
    <link rel="stylesheet" href="/normalize.css" />
    <link rel="stylesheet" href="/main.css" />
  </head>
  <body>
    <header>
      <a href="/">
        <img class="logo" src="/images/logo-normal@2x.png" alt="Irradiated Apps" />
        <h1>
          irradiated.net
        </h1>
      </a>
    </header>
    <nav>
      {{#each collections.menu}}
      <a href="{{ this.url }}">
        {{ this.data.title }}
      </a>
      {{/each}}
    </nav>
    {{{content}}}
    <footer>
      {{ copyright }}
    </footer>
  </body>
</html>
