---
site: irradiated.net
copyright: © Irradiated Apps
---

<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ site }}{{#if title}} - {{ title }}{{/if}}</title>
    <link rel="stylesheet" href="/normalize.css" />
    <link rel="stylesheet" href="/main.css" />
    <script
      async
      src="https://spartan.irradiated.net/79fbfc34s1a.js"
      data-ackee-server="https://spartan.irradiated.net/ackee"
      data-ackee-domain-id="ae6286a2-9d49-4419-9658-c44f9ffc5cf8"
      data-ackee-opts='{ "ignoreLocalhost": true }'
    ></script>
  </head>
  <body>
    <header>
      <a href="/">
        <img class="logo" src="/images/logo-normal@2x.png" alt="Irradiated Apps" />
        <h1>
          irradiated.net
        </h1>
      </a>
    </header>
    <nav>
      {{#each collections.menu}}
      <a href="{{ this.url }}">
        {{ this.data.title }}
      </a>
      {{/each}}
    </nav>
    {{{content}}}
    <footer>
      {{ copyright }}
    </footer>
  </body>
</html>
