---
site: irradiated.net
copyright: © Irradiated Apps
---

<!DOCTYPE html>
<html>
  <head>
    <title>{{ site }}{{#if title}} - {{ title }}{{/if}}</title>
    <link rel="stylesheet" href="normalize.css" />
    <link rel="stylesheet" href="main.css" />
  </head>
  <body>
    <header>
      <h1>
        irradiated.net
      </h1>
    </header>
    <nav>
      <ul>
        {{#each collections.menu}}
        <li>{{ this.data.title }}</li>
        {{/each}}
      </ul>
    </nav>
    {{{content}}}
    <footer>
      {{ copyright }}
    </footer>
  </body>
</html>
